<section class="card">
  <header class="container-fluid card-header bg-dark text-white"><a
      class="text-decoration-none text-white"
      href="/dashboard/{{id}}"
    >{{post_name}}</a>
    <button
      class="btn-danger btn-delete btn-sm mx-5"
      data-id={{id}}
    >delete</button>
    <br />
    by
    <span class="text-decoration-none text-white text-italic"><em
      >{{user.user_name}}</em></span>
    <br />
    posted at:
    <span class="text-decoration-none text-white">{{createdAt}}</span></header>
  <a class="text-decoration-none text-black" href="/dashboard/{{id}}"><div
      class="card-body"
    >{{post_text}}</div></a>

</section>