<section class="card">
  <header class="card-header"><a href="/posts/{{id}}">{{post_name}}</a><button
      class="btn-danger btn-delete btn-sm"
      data-id={{id}}
    >X</button></header>
  <a href="/posts/{{id}}"><div class="card-body">{{post_text}}</div></a>
  <div>{{user.user_name}}</div>

</section>